<ul class="list_elements">
  <% list_elements.each do |element| %>
    <li class="list_element">
      <%= link_to element.url do %>
        <%= filepicker_image_tag element.image, w: 275, h: 175, fit: 'crop', align: "center,center" %>
        <h3><%= element.name.titleize %></h3>
      <% end %>
    </li>
  <% end %>
</ul>