<li class='list-element never-make-me-tall'>
  <%= link_to "http://www.saveur.com/content/blog-awards-2015-vote?dom=spiritscocktail&src=2015blogbadge", class: "list-image-wrapper saveur-meme" do %>
    <%= image_tag('saveur-meme.png') %>
  <% end %>
</li>
