<li class='list-element never-make-me-tall saveur-meme'>
  <%= link_to "http://www.saveur.com/content/blog-awards-2015-vote?dom=spiritscocktail&src=2015blogbadge", class: "list-image-wrapper saveur-meme-link" do %>
    <%= image_tag('saveur-meme.png') %>
  <% end %>
  <div class="list-details">
    <h3><%= link_to swash("Vote for tux!"), "http://www.saveur.com/content/blog-awards-2015-vote?dom=spiritscocktail&src=2015blogbadge" %></h3> 
    <h4 class="subtext">It's the coolest thing you'll ever do</h4>
  </div>
</li>
