<div class="content admin">
  <%= render 'admin_element', :elements => @recipes %>
  <%= render 'admin_element', :elements => @components %>
  <%= render 'admin_element', :elements => @lists %>
</div>

<%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "logout-button" %>