<div class="content admin">
  <%= render 'admin_element', :elements => @recipes %>
  <%= render 'admin_element', :elements => @components %>
  <%= render 'admin_element', :elements => @lists %>
</div>