  <div class="content">
    <% @elements.each do |type, elements| %>
      <h1 class="index-letter-label"><%= type %> <%= link_to "create", new_link(elements.first), :class => "admin_create_link" %></h1>
      <div class="grid">
        <%= render partial: 'shared/index_item', collection: elements, as: :element, locals: {show_admin_controls: true} if elements %>
      </div>
    <% end %>
  </div>
