<div class="header short">
  <div class="header-content">
    <%= index_header_image %>
    <h1 class="header-title small">Cocktail Lists Index: <%= params[:letter].upcase %></h1>
  </div>
</div>

<div class="content">
  <%= render 'shared/index', elements: @elements %>
</div>
