<% cache(cache_key(@list, "show")) do %>
  <div class="list <%= "list--home" if @list.home? %>">
    <%= render 'list_elements', page: 0, elements: @list_elements, pagination_end: @pagination_end %>
  </div>
  <%= render 'footer', :list => @list %>
<% end %>
