<div class="header list<%= " home" if @list.home? %>">
  <%= render "shared/header", :element => @list.header_element %> 
</div>
<div class="content list<%= " home" if @list.home? %>">
  <div class="primary">
    <%= render "list_with_images", :list_elements => @list.elements %>
  </div>
</div>