<div class="home-content">
  <h1>Recipes</h1>
  <ul id="recipes">
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe %></li>
    <% end %>
  </ul>

  <div class="admin_options">
     <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      | 
     <%= link_to 'create recipe', '/new' %>
    </div>
</div>