<%= form_tag({controller: "components", action: form_action()}, method: "post") do %>
  <div class="form_block primary">
    <%= text_field_tag :name, default_text(:name), :placeholder => "name" %>
    <%= text_area_tag :description, default_text(:description), :placeholder => "description" %>
    <%= submit_tag(submit_text()) %>
  </div>
<% end %>