<% puts "$$$$$$$$", element.name, element.url, element.class %>

<h4 class="subtext">
  <%= 
    element.classic_recipes(3).map{ |recipe|
      link_to(recipe.name, recipe.url)
    }.join(", ").html_safe 
  %>
</h4>
