<div class="header component">
  <%= render "shared/header", :element => @component %> 
</div>
<div class="content component">
  <div class="primary">
    <%= render "/lists/list_with_images", :list_elements => @component.list_elements %>
  </div>
</div>