<div class="header component">
  <div class="header-content">
    <%= filepicker_image_tag @component.image, w: 1880, h: 1080, fit: 'crop', crop: "0,0,1880,1080", align: "center,center" %>
    <h1 class="header-title"><%= @component.name.titleize %></h1>
  </div>
  <%= render 'admin/user_links' %>
</div>
<div class="content component">
  <div class="primary">
    <%= render "/lists/list_with_images", :list_elements => @component.list_elements %>
  </div>
</div>