<h1><%= @component.name.titleize %></h1>
<p><%= @component.description %></p>
<ul class="recipes">
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe %></li>
  <% end %>
</ul>
<a href="<%= edit_url() %>">edit</a>