@import "../elements/helpers";
@import "../utilities/pie-clearfix";
@import "../utilities/colors";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-underline-offset: 2px;
}

html,
body {
  height: 100%;
  color: $text-color-dark;
}

body {
  background: $background-color;
  margin: 0;
  padding: 0;
}

.site-container {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.noscroll {
    max-height: 100vh;
    overflow: hidden;
  }
}

.hidden {
  display: none;
}
