@import "base";
@import "../utilities/font-stacks.scss";

.breadcrumbs {
  font-family: $sans-serif;
  background: #ddd;
  color: #ccc;

  a {
    text-decoration: none;
    color: #333;
  }
}

.breadcrumbs-seperator {
  margin: 0.25em 0.75em;
  color: #333;
}

.breadcrumbs-crumb {
  color: black;
}
