@import "./elements.scss";
@import "../utilities/breakpoints.scss";
@import "../utilities/font-stacks.scss";

.card {
  display: grid;
  grid-template-areas: "head head" "image content";
  grid-template-rows: 50px 1fr;
  grid-template-columns: auto 1fr;
  grid-column-gap: 16px;
  margin-bottom: 10px;
  font-family: $sans-serif;

  &--border-version {
    grid-template-areas: "head head" "content image";
    grid-template-rows: 60px 1fr;
    margin-bottom: 0;
    border: 1px solid currentColor;
    padding: 0 16px 16px 16px;
  }

  &--border-version-on-mobile {
    /* this is more or less a duplicate of border-version, but in a MQ */
    @media (max-width: $mobile) {
      grid-template-areas: "head head" "content image";
      grid-template-rows: 60px 1fr;
      margin-bottom: 0;
      border: 1px solid currentColor;
      padding: 0 16px 16px 16px;
    }
  }

  &--list {
    padding: 0 16px 24px 16px;
    display: flex;
    flex-direction: column;
  }

  &--ingredient &__label {
    margin-bottom: 0.5em;
  }

  &__label {
    grid-area: head;
    width: 100%;
    margin-bottom: 16px;
    min-height: 40px;

    &--border-version {
      border-bottom: 1px solid currentColor;
      font-size: 11px;

      &:after {
        display: none;
      }
    }

    &--border-version-on-mobile {
      /* this is more or less a duplicate of border-version, but in a MQ */
      @media (max-width: $mobile) {
        border-bottom: 1px solid currentColor;
        font-size: 11px;

        &:after {
          display: none;
        }
      }
    }
  }

  &__content {
    grid-area: content;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    font-size: 16px;
    line-height: 1.1;
    margin: 0 0 18px 0;
    font-family: $sans-serif;

    &--border-version {
      font-size: 16px;
    }

    &--border-version-on-mobile {
      /* this is more or less a duplicate of border-version, but in a MQ */
      @media (max-width: $mobile) {
        font-size: 16px;
      }
    }

    &--list {
      margin: 0;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__action {
    @extend .button;
  }

  &__action-subtext {
    color: #656565;
    font-size: 13px;
    margin-left: 6px;
  }

  &__list-subtext {
    .subtext {
      margin: 0;
      font-weight: 200;
      font-size: 15px;
    }

    a {
      text-decoration: none;
    }
  }

  &__list-name {
    font-size: 15px;
    display: block;
    font-family: $serif;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2px;
    font-variant-numeric: oldstyle-nums;
    text-decoration: none;
  }

  &__list-name__secondary {
    font-weight: 200;
  }

  &__description {
    font-size: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-height: 54px;
    min-height: 54px;
    margin: 0.5em 0;
  }

  &__section {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
  }

  &__section--illustration {
    width: calc(100% + 2em);
    object-fit: contain;
    max-height: 220px;
    margin: 0 -1em;
    border-bottom: 1px solid #000;
  }

  &__illustration {
    width: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
    max-height: 220px;
  }

  &__list-item {
    margin: 0.15em 0;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    flex: 1;

    &--with-bar {
      display: flex;
      align-items: center;
    }
  }

  &__section-label {
    margin-bottom: 0.85em;
  }

  &__action-chevron {
    width: 8px;
    height: 8px;
    position: relative;
    top: 1px;
  }

  &__wide-action {
    min-height: 42px;
    display: flex;
    align-items: center;
    border-top: 1px solid #000;
    justify-content: space-between;
    margin-top: 0.5em;
  }
}
