.carousel {
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  background: #000;

  .slider {
    display: flex;
    position: relative;
    transition: 0.2s transform cubic-bezier(0.33, 1, 0.68, 1);
  }

  img {
    width: 100vw;
    display: block;
    height: 55vh;
    object-fit: cover;
  }

  .component__list-item .list-element__details {
    opacity: 0.8;
    bottom: auto;
    top: 0;
    text-align: right;
  }
}
