@import "../elements/base";

.content {
  @include pie-clearfix;
  @extend .centered-content-box-large;
  min-height: 200px;
  padding-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  grid-column-gap: 4em;
  grid-row-gap: 1em;
}
