@import "../elements/base";
@import "../utilities/breakpoints.scss";

.content {
  @extend .centered-content-box-large;
  min-height: 200px;
  padding-bottom: 50px;
  flex: 1;

  &.index {
    @media (max-width: $large) {
      padding: 0 16px 50px 16px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  grid-column-gap: 4em;
  grid-row-gap: 1em;

  &--half-gap {
    grid-column-gap: 2em;
  }

  @media (max-width: 1100px) {
    grid-template-columns: 0.66fr 0.66fr;
  }

  @media (max-width: 800px) {
    grid-template-columns: 100fr;
  }
}
