@import "../elements/helpers";
@import "../elements/base";

.subtle_button {
  font-size: 16px;
  border: 1px solid rgba(100, 100, 100, 0.4);
  padding: 2px 8px 3px;
  border-radius: 3px;
}

.no {
  font-size: 7px;
  display: inline-block;
  line-height: 100%;
  padding-bottom: 0px;
  letter-spacing: 1px;
  vertical-align: text-top;
  position: relative;
  border-bottom: 1px solid #333;
  top: -5px;
}

.display-number {
  font-family: "bookmania";
  text-decoration: none;
  font-weight: 800;
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  position: relative;
  line-height: 130%;
  width: 75px;
  height: 75px;
  padding-top: 5px;

  &.large {
    font-size: 36px;
    .no {
      left: 10px;
    }
  }
  .win & {
    line-height: 150%;
    top: 16px;
  }
}

.authenticate {
  display: none;
  html[logged-in="true"] & {
    display: block;
  }
}

.teaser-bg {
  &,
  &:after {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  background-size: cover !important;
  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.map {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}

.button {
  padding: 4px 16px;
  border: 1px solid currentColor;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  letter-spacing: 0.075em;
  font-family: "mr-eaves";
}

.site-footer {
  clear: both;
  width: 100%;
  text-align: center;
  color: #999;
  background: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
}

$horizontal-stripes: linear-gradient(
  90deg,
  transparent 50%,
  rgba(50, 50, 50, 0.6) 50%
);
%horizontal_stripes {
  background: $horizontal-stripes;
  background-size: 4px 100%;
}
