@import "../elements/helpers";

.subtle_button {
  font-size: 16px;
  border: 1px solid rgba(100,100,100,0.4);
  padding: 2px 8px 3px;
  border-radius: 3px;
}

.header-title {
  font-size: 85px;
  margin: 0;
  line-height: 130%;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 30%;
  margin-bottom: -50px
}

.content {
  @extend %centered-content-box;
  .global-header + & { top: 80px; }
}