@import "../elements/helpers";
@import "../elements/base";


.subtle_button {
  font-size: 16px;
  border: 1px solid rgba(100,100,100,0.4);
  padding: 2px 8px 3px;
  border-radius: 3px;
}

.no {
  font-size: 10px;
  display: inline-block;
  line-height: 100%;
  padding-bottom: 1px;
  letter-spacing: 1px;
  vertical-align: text-top;
  position: relative;
  top: 3px;
  left: 8px;
  margin-left: -25px;
  -webkit-font-smoothing: subpixel-antialiased;
  &:after {
    content: "";
    width: 12px;
    height: 1px;
    display: block;
    background-color: white;
    margin-left: 2px;
    margin-top: 1px;
  }
  .win & { top: 18px; }
}

.header-content:after {
  @include vgradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  bottom: 0;
  z-index: 5;
  position: absolute;
}

.header-title {
  font-size: 85px;
  margin: 0;
  line-height: 130%;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 64px;
  margin-bottom: -50px;
  z-index: 6;
  -webkit-font-smoothing: antialiased;
  &, a { color: white; text-decoration: none; }
}

.display-number {
  display: block;
  display: none; //temporary!
  font-size: 36px;
  position: relative;
  line-height: 130%;
  
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: white;
    left: 50%;
  }
  &:before {
    @include rotate(45deg);
    width: 6px;
    height: 6px;
    margin-left: -3px;
    bottom: -4px;
  }
  &:after {
    width: 34px;
    height: 2px;
    margin-left: -17px;
  }
  &.large {
    font-size: 55px;
    .no { left: 12px; }
  }
  .win & {
    line-height: 150%; 
    top: 16px;
  }
}

.content, .recommends {
  @extend %centered-content-box;
  min-height: 200px;
  padding-bottom: 50px;
  .global-header + & { top: 80px; }
}

.authenticate { 
  display: none;
  html[logged-in="true"] & { display: block; }
}

.teaser-bg {
  &, &:after {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  background-size: cover !important;
  &:after {
    content: ""; 
    background-color: rgba(0,0,0,0.6); 
  }
}

.map {
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
}

.site-footer {
  clear: both;
  width: 100%;
  text-align: center;
  color: #999;
  background: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
}

.recommends {
  display: none; //hide for now!
  @include pie-clearfix;
  padding-bottom: 100px;
  .list-elements { width: 101%; }
}
.recommends-label { 
  position: relative;
  margin-bottom: 20px; 
}
.recommends-label-text {
  font-size: 18px;
  font-weight: normal;
  display: block;
  margin: 0 auto;
  width: 200px;
  color: #444;
  text-align: center;
  position: relative;
  z-index: 2;
  background: $background-color;
}
.recommends-divider {
  @extend %horizontal_stripes;
  width: 100%;
  height: 1px;
  position: relative;
  top: -14px;
}

$horizontal-stripes: linear-gradient(90deg, transparent 50%, rgba(50,50,50,.6) 50%);
%horizontal_stripes {
  background: $horizontal-stripes;
  background-size: 4px 100%;
}