@import "../elements/base";

.form-content {
  .primary {
    width: 440px;
    float: left;
    font-size: 17.5px;
    padding: 20px 25px;
    margin-bottom: 40px;
    line-height: 135%;
    color: #555;
    background-color: #f1f1f1;
  }

  .secondary {
    padding: 20px 0;
    width: 440px;
    float: left;
  }

  input[type="text"],
  textarea,
  .textfield {
    width: 100%;
    border-radius: 4px;
    display: block;
    font-size: 18px;
    background: #ddd;
    color: #333;
    line-height: 124%;
    border: 1px solid #555;
    padding: 6px 10px;
    margin-bottom: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  textarea {
    min-height: 300px;
    &#recipe {
      min-height: 415px;
    }
    &.mini {
      min-height: 3.5em;
    }
  }

  .edit_panel .form_block {
    width: 440px;
    float: left;
    &.primary {
      margin-right: 20px;
    }
  }

  .form_block.secondary {
    padding: 20px 0;
  }

  .form_block .awesomplete {
    position: relative;

    ul {
      position: absolute;
      margin-top: -16px;
    }
  }

  input[type="submit"],
  input[type="file"],
  button {
    min-width: 120px;
    font-size: 16px;
    margin-top: 7px;
  }

  input[type="submit"] {
    max-width: 300px;
    display: inline-block;
  }

  button {
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 7px;
  }

  .mention_username {
    font-size: 18px;
    color: #999;
  }

  .image-picker {
    display: inline-block;
  }

  .clear_image {
    display: inline-block;
    color: $link-color;
    &.cleared {
      color: #999;
    }
  }

  .user-form,
  .alert,
  .notice {
    width: 400px;
    padding: 30px;
    margin: 0 auto;
    background-color: rgba(250, 250, 250, 0.6);
    border-radius: 4px;
    z-index: 5;
    position: relative;
    top: 200px;
  }

  .alert,
  .notice {
    padding: 10px 30px;
    color: white;
    background-color: #ff524d;
    margin-bottom: 10px;
    display: none;
  }

  .show-extra-options {
    display: inline-block;
    padding: 0 7px 1px 7px;
    background: #ccc;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
      background: #aaa;
    }
  }

  .extra-options,
  .image-options {
    border: 1px solid #ccc;
    background: white;
    padding: 10px;
    margin: 6px 0;
  }

  .alert:empty,
  .notice:empty {
    display: none;
  }
  .active .mention_username {
    color: #333;
  }

  @media (max-width: 650px) {
    .user-form,
    .alert,
    .notice {
      width: 90%;
      margin: 0 auto;
      top: 75px;
      background-color: rgba(250, 250, 250, 0.8);
    }
  }
}
