@import "../elements/sprite";
@import "compass/css3/transform";

%centered-content-box {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

%centered-content-box-large {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1040px;
}

%swash {
  &:first-letter, .swash-cap {
    font-feature-settings: "swsh";
    -moz-font-feature-settings:"swsh";
    -webkit-font-feature-settings: "swsh";
  }
  .swash-cap.letter-t { margin-right: -.13em; }
  .swash-cap.letter-z { margin-right: -.14em; }
}

@mixin gradient($startcolor: #555, $endcolor: #333, $direction: "horizontal") {
    $direction_key_1: left; $direction_key_2: left top; $direction_key_3: right top;
    @if $direction == "vertical" {
       $direction_key_1: top; $direction_key_2: left top; $direction_key_3: left bottom;
    } @else if $direction == "diagonal" {
      $direction_key_1: bottom right; $direction_key_2: right bottom; $direction_key_3: left top;
    }
    background-image: -khtml-gradient(linear, $direction_key_2, $direction_key_3, from($startcolor), to($endcolor)); // Konqueror
    background-image: -webkit-gradient(linear, $direction_key_2, $direction_key_3, color-stop(0, $startcolor), color-stop(1, $endcolor)); // Safari 4+, Chrome 2+
    background-image: -moz-linear-gradient($direction_key_1, $startcolor, $endcolor); // FF 3.6+
    background-image: -ms-linear-gradient($direction_key_1, $startcolor, $endcolor); // IE10
    background-image: -webkit-linear-gradient($direction_key_1, $startcolor, $endcolor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient($direction_key_1, $startcolor, $endcolor); // Opera 11.10
    background-image: linear-gradient($direction_key_1, $startcolor, $endcolor); // Le standard
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='" + $startcolor + "', endColorstr='" + $endcolor + "', GradientType=1)"; // IE9 and down
}

@mixin hgradient ($startcolor: #555, $endcolor: #333) {
  @include gradient($startcolor, $endcolor, "horizontal");
}

@mixin vgradient ($startcolor: #555, $endcolor: #333) {
  @include gradient($startcolor, $endcolor, "vertical");
}

@mixin transition($props...) {
  -moz-transition: $props;
  -webkit-transition: $props;
  -o-transition: $props;
  transition: $props;
}

@mixin accelerated_transition($props...) {
  @include transition($props...);
  -webkit-transform: translate3d(0,0,0);
}

@mixin hires-background($image-name) {
  $height: sprite-sprite-height($image-name);
  $width: sprite-sprite-width($image-name);

  height: $height/2;
  width: $width/2;
  position: relative;
  &:before {
    @extend .sprite-#{$image-name};
    content: "";
    height: $height;
    width: $width;
    @include transform-origin(0,0);
    @include scale(0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
}
