%centered-content-box {
  width: 940px;
  margin: 0 auto;
  position: relative;  
}

%swash {
  &:first-letter, .swash-cap { 
    font-feature-settings: "swsh"; 
    -moz-font-feature-settings:"swsh";
    -webkit-font-feature-settings: "swsh";
  }
}