.index-element {
  display: flex;
  width: 30%;
  margin: 0 1.515%;
  margin-bottom: 2em;

  .index-element-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
  }

  .index-element-text {
    flex-grow: 1;
    margin-right: .5em;
  }

  .index-element-name {
    font-size: 1.25em;
    border-bottom: 1px dotted #aaa;
    padding-bottom: .3em;
    display: block;
    line-height: 1;
    font-weight: bold;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  &.for-search {
    width: 100%;
    max-width: 800px;
  }

  .subtext {
    padding: .5em 0 0 0;
    margin: 0;
    font-weight: normal;
    font-size: .875em;
    min-height: 3em;
    a:not(:last-child):after { content: ", "}
  }

  .subtext.search em {
    display: inline-block;
    background: hsla(0, 0%, 30%, 0.15);
    padding: 0.33em 0.25em;
    font-style: normal;
    font-weight: bold;
    line-height: 0.75;
    border-radius: 3px;
  }

  .list-element-number { display: none; }
}

.admin-controls { margin-top: .25em; }

@media (max-width: 900px) {
  .index-element { width: 46%; }
}

@media (max-width: 600px) {
  .index-element { width: 98%; }
}
