.index-element {
  display: flex;
  width: 30%;
  margin-bottom: 1em;

  .index-element-text {
    flex-grow: 1;
    margin-left: .5em;
  }

  .index-element-name {
    font-size: 1.25em;
    border-bottom: 1px dotted #aaa;
    padding-bottom: .2em;
    display: block;
    line-height: 1;
  }
}
