.index-element {
  display: flex;
  width: 30%;
  margin: 0 1.515%;
  margin-bottom: 2em;

  .index-element-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
  }

  .index-element-text {
    flex-grow: 1;
    margin-right: .5em;
  }

  .index-element-name {
    font-size: 1.25em;
    border-bottom: 1px dotted #aaa;
    padding-bottom: .3em;
    display: block;
    line-height: 1;
    font-weight: bold;
    &:first-letter {
      text-transform: uppercase;
    }
  }

  .subtext {
    padding: .5em 0 0 0;
    margin: 0;
    font-weight: normal;
    font-size: .7em;
    text-transform: uppercase;
    a:not(:last-child):after { content: ", "}
  }

  .list-element-number { display: none; }
}

@media (max-width: 900px) {
  .index-element { width: 46%; }
}

@media (max-width: 600px) {
  .index-element { width: 98%; }
}
