.label {
  font-family: "mr-eaves";
  font-weight: bold;
  letter-spacing: 0.075em;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &--bottom-border {
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
  }
}

.label:not(.label--bottom-border):after {
  content: "";

  height: 1px;
  background: currentColor;
  flex: 1;
  margin-left: 6px;
}
