@import "../utilities/font-stacks.scss";

.text-link {
  text-decoration: none;

  &__name {
    font-size: 18px;
    font-family: $serif;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
  }

  &__tag {
    font-size: 0.75em;
    margin-left: 0.1em;
  }

  .tag--tiki-glass {
    height: 1.25em;
    width: 0.75em;
  }

  .tag--collins-glass {
    height: 1.25em;
    width: 0.75em;
  }
}
