@import "../utilities/colors";
@import "../elements/helpers";

$description-cutout: 50px;
$space-between-description-and-header: 6px;

.component {
  @extend .centered-content-box-large;

  &__primary {
    display: flex;
  }

  &__sidebar {
    width: calc(33% + 40px);
    padding-right: 40px;
    margin-top: 130px;

    .card {
      margin-top: 40px;
      font-size: 17px;
    }
  }

  &__varieties {
    margin-top: 80px;
    font-size: 18px;

    .card__label {
      margin-bottom: 20px;
    }
  }

  &__variety {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    text-decoration: none;
    grid-column-gap: 14px;
  }

  &__variety-number {
    border-right: 1px solid #777;
    width: 100%;
    height: 12px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding-right: 14px;
    font-size: 16px;
  }

  &__variety-name {
    text-transform: capitalize;
  }

  &__substitutes {
    p {
      padding: 0;
      margin: 0;
    }
  }

  &__index-element {
    margin-bottom: 1.5em;
  }

  &__content {
    flex: 1;
  }

  &__header {
    color: $text-color-dark;
  }

  &__header-title {
    font-size: 46px;
    line-height: 60px;
    margin: 0;

    a {
      color: $text-color-dark;
      text-decoration: none;
    }
  }

  &__header-subtitle {
    font-family: "mr-eaves";
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 8px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__header-content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -104px;
    width: 56%;
    z-index: 1;
    padding: 0 24px
      ($space-between-description-and-header + $description-cutout) 0px;
  }

  &__header-images {
    display: grid;
    grid-template-columns: 53.5% auto;
    grid-auto-rows: 52px;
    grid-gap: 18px;
    width: 100%;
  }

  &__list-item {
    &--1 {
      grid-row-end: span 6;
    }

    &--2,
    &--3 {
      grid-row-end: span 4;
    }

    .list-element__details {
      opacity: 0;
      transition: 0.2s opacity;
    }

    &:hover .list-element__details {
      opacity: 1;
    }
  }

  &__cutout {
    background-color: transparent;
    width: 40%;
    height: $description-cutout;
    float: right;
    box-sizing: content-box;
    padding-left: 24px;
  }

  &__primary {
    margin-top: -$description-cutout - 0px;
    position: relative;
    z-index: 1;
    display: flex;
  }

  &__description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    line-height: 1.5;
    color: $text-color;
    font-weight: 300;
    max-width: 580px;
    flex: 1;

    .subcomponent {
      text-transform: capitalize;
      font-size: 19px;
      font-variant-numeric: oldstyle-nums;

      a {
        font-weight: 500;
      }
    }

    .recommended-bottles {
      font-family: mr-eaves;
      text-transform: capitalize;
      font-size: 18px;
      border: 1px solid #000;
      display: inline-block;
      padding: 0.4em 1em 0.33em;
      margin: 0.33em 0 1em;
      position: relative;
      font-weight: 600;

      &:before {
        content: "Bottles";
        text-transform: uppercase;
        background: #f0f0f0;
        padding: 0.33em 0.5em;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
        letter-spacing: 0.075em;
        font-size: 9px;
        transform: translate(20px, -50%);
      }
    }

    em {
      font-weight: normal;
      font-style: normal;
    }
  }

  &__description::first-letter {
    color: #000;
    font-family: "mr-eaves";
    font-size: 56px;
    font-weight: 800;
    float: left;
    line-height: 0.75;
    display: inline-block;
    padding: 0 6px 0 0;
  }

  &__recent-additions {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-gap: 20px;
    height: 340px;
    margin-bottom: 6em;
  }

  &__recent-additions-label {
    margin-top: 6em;
    margin-bottom: 3em;
  }

  &__all {
    display: grid;
    grid-template-columns: 0.36fr auto;
    grid-column-gap: 40px;
    margin-bottom: 6em;

    .index-element__subtext {
      font-size: 16px;
    }
  }

  &__all-sidebar {
    .card {
      padding: 0;
      margin-bottom: 3em;
    }
  }

  &__all-recipes-label {
    margin-bottom: 2em;
  }

  &__all-sidebar-filter-label {
    margin-bottom: 1em;
  }

  &__filter {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    text-transform: capitalize;

    &:not(:last-child) {
      border-bottom: 1px solid #000;
    }

    &--selected {
      font-weight: 600;
    }
  }

  &__radio-button,
  &__checkbox {
    height: 12px;
    width: 18px;
    margin-right: 6px;
  }

  &__filter-control {
    display: flex;
    align-items: center;
  }
}
