@import "../utilities/colors";
@import "../elements/helpers";

$description-cutout: 50px;
$space-between-description-and-header: 6px;

.component {
  @extend .centered-content-box-large;
  display: flex;

  &__sidebar {
    width: calc(33% + 40px);
    padding-right: 40px;
    margin-top: 80px;

    .card {
      margin-top: 60px;
      font-size: 17px;
    }
  }

  &__varieties {
    margin-top: 80px;
    font-size: 18px;

    .card__label {
      margin-bottom: 20px;
    }
  }

  &__variety {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    text-decoration: none;
    grid-column-gap: 14px;
  }

  &__variety-number {
    border-right: 1px solid #777;
    width: 100%;
    height: 12px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding-right: 14px;
    font-size: 16px;
  }

  &__variety-name {
    text-transform: capitalize;
  }

  &__substitutes {
    p {
      padding: 0;
      margin: 0;
    }
  }

  &__content {
    flex: 1;
  }

  &__header {
    color: $text-color-dark;
  }

  &__header-title {
    font-size: 46px;
    line-height: 60px;
    margin: 0;

    a {
      color: $text-color-dark;
      text-decoration: none;
    }
  }

  &__header-subtitle {
    font-family: "mr-eaves";
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 8px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__header-content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -104px;
    width: 56%;
    z-index: 1;
    padding: 0 24px
      ($space-between-description-and-header + $description-cutout) 0px;
  }

  &__header-images {
    display: grid;
    grid-template-columns: 53.5% auto;
    grid-auto-rows: 52px;
    grid-gap: 18px;
    width: 100%;
  }

  &__primary-image-link {
    &--1 {
      grid-row-end: span 6;
    }

    &--2,
    &--3 {
      grid-row-end: span 4;
    }
  }

  &__primary-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__cutout {
    background-color: transparent;
    width: 40%;
    height: $description-cutout;
    float: right;
    box-sizing: content-box;
    padding-left: 24px;
  }

  &__primary {
    margin-top: -$description-cutout - 0px;
    position: relative;
    z-index: 1;
    display: flex;
  }

  &__description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    line-height: 1.5;
    color: $text-color;
    font-weight: 300;
    max-width: 580px;
    flex: 1;
  }

  &__description::first-letter {
    color: #000;
    font-family: "mr-eaves";
    font-size: 56px;
    font-weight: 800;
    float: left;
    line-height: 0.75;
    display: inline-block;
    padding: 0 8px 0 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
