@import "../elements/helpers";

.content.list .primary, .content.component .primary { 
  padding: 20px 0; 
  width: 101%;
  margin-bottom: 40px;
}

.home-content {
  @extend %centered-content-box;
  position: relative;
  top: 80px;
}
.list_elements, .list .primary, .component .primary { width: 100%; }
.error-subhead { font-size: 24px; color: white; }
.header-title.error-title { line-height: 70%; }

.content.list.about {
  max-width: 550px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  li { margin-bottom: 15px; }
  img { width: 100%; }
}