@import "../utilities/breakpoints.scss";

.list {
  display: grid;
  grid-gap: 18px;
  padding: 0 18px 18px 18px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 39px;
  max-width: 1150px;

  @media (max-width: $mobile) {
    grid-template-columns: 0.5fr 0.5fr;
  }

  @media (max-width: $small) {
    grid-template-columns: 1fr;
    padding: 0 0 18px 0;
  }

  .list-element {
    grid-row-end: span 8;
    margin: 0;

    &--first {
      grid-row-end: span 10;
      grid-column-end: span 2;
      margin: inherit 0;

      @media (max-width: $mobile) {
        grid-row-end: span 9;
        grid-column-end: span 1;
      }
    }

    &--second {
      grid-row-end: span 10;
      padding-top: 50px;

      @media (max-width: $mobile) {
        padding-top: 0px;
        grid-row-end: span 8;
      }
    }

    &__display-number {
      @media (max-width: $small) {
        display: none;
      }
    }
  }

  .special-nav,
  .card {
    grid-row-end: span 4;
  }

  .card--list {
    grid-row-end: span 6;
  }

  .card {
    min-width: 0;

    @media (max-width: $small) {
      margin: 0 16px;
    }
  }

  .card--ingredient {
    min-width: 0;
    grid-row-end: span 7;
  }
}

.special-nav {
  display: flex;
  flex-direction: column;

  @media (max-width: $small) {
    display: none;
  }
}

.special-nav__item {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 2px;
  font-family: "mr-eaves";
}
