@import "../utilities/colors";
@import "../elements/helpers";

$description-cutout: 150px;
$space-between-description-and-header: 26px;
$image-width: 554px;
$image-offset: 30px;

.recipe {
  @extend .centered-content-box-large;
  display: flex;

  &__sidebar {
    width: 290px;
    padding-right: 20px;
    margin-top: 110px;

    .card {
      margin-top: 140px;
    }
  }

  &__recipe {
    @extend %recipe;
    padding-right: 10px;
  }

  &__content {
    flex: 1;
  }

  &__header {
    display: flex;
    color: $text-color-dark;
  }

  &__header-title {
    @extend %swash;
    font-size: 44px;
    line-height: 60px;
    margin: 0;

    a {
      color: $text-color-dark;
      text-decoration: none;
    }
  }

  &__header-subtitle {
    font-family: "mr-eaves";
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 8px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &__header-content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 24px
      ($space-between-description-and-header + $description-cutout) 0px;
  }

  &__primary-image {
    height: 570px;
    width: $image-width;
    margin-right: -$image-offset;
    object-fit: cover;

    &--1--count-2 {
      width: 470px;
      height: 590px;
    }

    &--2 {
      height: 270px;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__display-number {
    top: 16%;
    right: 0px;
    transform: translate(50%, 50%);
    position: absolute;
  }

  &__cutout {
    background-color: transparent;
    width: 30%;
    height: $description-cutout;
    float: right;
    box-sizing: content-box;
    padding-left: 24px;
  }

  &__tag-icons {
    margin-top: 8px;
    display: flex;
    align-items: center;
    color: $text-color;
  }

  &__tag-icon {
    margin-right: 6px;
    font-size: 1.25em;
  }

  &__primary {
    margin-top: -$description-cutout - 0px;
    position: relative;
    z-index: 1;
    display: flex;
  }

  &__description {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    line-height: 1.5;
    color: $text-color;
    font-weight: 300;
    max-width: 580px;
    flex: 1;
  }

  &__description::first-letter {
    color: #000;
    font-family: "mr-eaves";
    font-size: 86px;
    font-weight: 800;
    float: left;
    line-height: 0.75;
    display: inline-block;
    padding: 0 12px 0 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  &__primary-sidebar {
    width: 260px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    min-height: 100%;
  }

  &__footer {
    position: relative;
    width: 100%;
    max-width: 1150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
