@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *








 




 



 */

.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 10;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}
/* line 6, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 11, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 12, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
a {
  color: #777777;
  text-decoration: none;
}

/* line 16, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
p a, li a {
  border-bottom: 1px dotted #777;
}
/* line 18, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
p a:hover, li a:hover {
  color: black;
  border-bottom-color: black;
}

/* line 24, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}
/* line 8, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
h1:first-letter, h1 .swash-cap {
  font-feature-settings: "swsh";
  -moz-font-feature-settings: "swsh";
  -webkit-font-feature-settings: "swsh";
}

/* line 3, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/typography.scss */
html, body {
  font-family: "bookmania";
}

/* line 4, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/typography.scss */
h1, h2, h3 {
  font-weight: 900;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-regular.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-regular.woff") format("woff"), url("/webfonts/bookmania-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-regular-italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-regular-italic.woff") format("woff"), url("/webfonts/bookmania-regular-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-semibold.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-semibold.woff") format("woff"), url("/webfonts/bookmania-semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-semibold-italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-semibold-italic.woff") format("woff"), url("/webfonts/bookmania-semibold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-bold.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-bold.woff") format("woff"), url("/webfonts/bookmania-bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-bold-italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-bold-italic.woff") format("woff"), url("/webfonts/bookmania-bold-italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
.content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 3, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.subtle_button {
  font-size: 16px;
  border: 1px solid rgba(100, 100, 100, 0.4);
  padding: 2px 8px 3px;
  border-radius: 3px;
}

/* line 10, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.no {
  font-size: 10px;
  display: inline-block;
  line-height: 100%;
  padding-bottom: 1px;
  letter-spacing: 1px;
  vertical-align: text-top;
  position: relative;
  top: 3px;
  left: 8px;
  margin-left: -25px;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 22, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.no:after {
  content: "";
  width: 12px;
  height: 1px;
  display: block;
  background-color: white;
  margin-left: 2px;
  margin-top: 1px;
}

/* line 33, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.header-content:after {
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.7)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.7)', GradientType=1)";
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  bottom: 0;
  z-index: 5;
  position: absolute;
}

/* line 44, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.header-title {
  font-size: 85px;
  margin: 0;
  line-height: 130%;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 94px;
  margin-bottom: -50px;
  z-index: 6;
  -webkit-font-smoothing: antialiased;
}
/* line 56, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.header-title, .header-title a {
  color: white;
  text-decoration: none;
}

/* line 59, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number {
  display: block;
  font-size: 36px;
  position: relative;
  line-height: 130%;
}
/* line 65, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number:before, .display-number:after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  left: 50%;
}
/* line 72, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number:before {
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
  margin-left: -3px;
  bottom: -4px;
}
/* line 79, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number:after {
  width: 34px;
  height: 2px;
  margin-left: -17px;
}

/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.global-header + .content {
  top: 80px;
}

/* line 91, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.authenticate {
  display: none;
}
/* line 93, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.authenticate.authenticated {
  display: block;
}
/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
input[type="text"], textarea, .textfield {
  width: 100%;
  border-radius: 4px;
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  background: #ddd;
  color: #333;
  line-height: 124%;
  border: 1px solid #555;
  padding: 6px 10px;
}

/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
textarea {
  min-height: 300px;
}
/* line 16, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
textarea#recipe {
  min-height: 415px;
}

/* line 19, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
.edit_panel .form_block {
  width: 440px;
  float: left;
}
/* line 22, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
.edit_panel .form_block.primary {
  margin-right: 20px;
}

/* line 25, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
input[type="submit"], button {
  display: block;
  min-width: 120px;
  font-size: 18px;
  margin-top: 7px;
}

/* line 32, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
button {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 7px;
}

/* line 38, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
.mention_username {
  font-size: 18px;
  color: #999;
}

/* line 43, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
.user-form, .alert, .notice {
  width: 400px;
  padding: 30px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 4px;
}

/* line 51, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
.alert, .notice {
  padding: 10px 30px;
  color: white;
  background-color: #FF524D;
  margin-bottom: 10px;
}

/* line 58, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
.alert:empty, .notice:empty {
  display: none;
}

/* line 59, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/forms.scss */
.active .mention_username {
  color: #333;
}
/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element {
  float: left;
  width: 295px;
  height: 255px;
}
/* line 5, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element h3 {
  text-align: center;
  line-height: 0;
}
/* line 10, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element img {
  display: block;
  margin: 0 auto;
}

/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element_small img {
  max-width: 100px;
  min-height: 60px;
  background: black;
  margin-right: 10px;
}
/* line 20, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element_small .admin_element_name {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #bbb;
}
/* line 6, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 11, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 12, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
a {
  color: #777777;
  text-decoration: none;
}

/* line 16, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
p a, li a {
  border-bottom: 1px dotted #777;
}
/* line 18, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
p a:hover, li a:hover {
  color: black;
  border-bottom-color: black;
}

/* line 24, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

/* line 58, sprite/*.png */
.sprite-sprite, .sprite-search, .sprite-tuxno2-logo-small, .sprite-tuxno2-logo {
  background: url(/assets/sprite-sc1b08192ca.png) no-repeat;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-search {
  background-position: 0 -68px;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-tuxno2-logo-small {
  background-position: 0 -38px;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-tuxno2-logo {
  background-position: 0 0;
}

/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
.global-header, .header-content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 6, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
#logo {
  width: 170px;
  height: 30px;
  display: block;
  text-indent: -99999px;
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 2;
}

/* line 17, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.links, .right-links {
  text-transform: uppercase;
  font-size: 12px;
}
/* line 20, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.links .link:not(:last-child):after, .right-links .link:not(:last-child):after {
  content: " • ";
}

/* line 23, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.right-links {
  float: right;
}

/* line 25, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.global-header {
  position: relative;
}

/* line 30, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.header-primary, .header-secondary {
  width: 100%;
  position: absolute;
  z-index: 5;
}

/* line 36, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.header-primary {
  top: 25px;
}

/* line 40, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.search-wrapper {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 300px;
}

/* line 47, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.header-secondary {
  height: 24px;
  padding: 4px 10px;
  border-bottom: 1px solid #333;
}
/* line 51, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.header-secondary .links {
  float: left;
}

/* line 54, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.header {
  width: 100%;
  background: #030a0d;
  min-height: 540px;
  overflow: hidden;
}

/* line 61, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.header-content {
  min-height: 540px;
  border: 1px solid #222;
}
/* line 66, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.header-content > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/* line 76, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.user_links {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* line 82, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.social-links {
  width: 30px;
  position: absolute;
  right: -35px;
  top: 10px;
}

/* line 89, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/global-header.scss */
.social-link {
  text-indent: -9999%;
  display: block;
  width: 25px;
  height: 25px;
}
/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead {
  width: 300px;
  color: #ccc;
  font-size: 20px;
  position: relative;
  z-index: 5;
  color: white;
  float: right;
}
/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead .tt-dropdown-menu {
  background-color: rgba(50, 50, 50, 0.8);
  border: 1px solid #333;
  width: 100%;
}
/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead .tt-suggestion {
  border-bottom: 1px solid #333;
  padding: 10px 20px;
  margin: 0;
  display: block;
  line-height: 0;
  float: left;
  width: 100%;
  cursor: pointer;
}
/* line 23, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead .tt-suggestion.tt-cursor {
  background-color: rgba(70, 70, 70, 0.8);
  color: white;
}
/* line 25, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead:before {
  content: "";
  float: left;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  z-index: 6;
  top: 3px;
  right: 5px;
  position: absolute;
}
/* line 37, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead .tt-input:focus {
  outline: 0;
  border: 1px solid #999;
}
/* line 40, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead .tt-input:focus:before {
  opacity: 1;
}
/* line 42, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead .tt-hint {
  background-color: transparent !important;
  right: 0 !important;
  left: auto !important;
}

/* line 49, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/search.scss */
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint, input.search {
  margin-bottom: 0;
  background-color: rgba(50, 50, 50, 0.8) !important;
  color: #ccc;
  height: 27px;
  font-size: 16px;
  width: 300px;
  float: right;
  position: relative;
  opacity: 0.7;
}
/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
.content, .edit_panel {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 8, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
.list_element h3:first-letter, .list_element h3 .swash-cap {
  font-feature-settings: "swsh";
  -moz-font-feature-settings: "swsh";
  -webkit-font-feature-settings: "swsh";
}

/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
.content, .edit_panel {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 8, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
.list_element h3:first-letter, .list_element h3 .swash-cap {
  font-feature-settings: "swsh";
  -moz-font-feature-settings: "swsh";
  -webkit-font-feature-settings: "swsh";
}

/* line 3, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.subtle_button, .content.admin .admin_create_link, .logout-button {
  font-size: 16px;
  border: 1px solid rgba(100, 100, 100, 0.4);
  padding: 2px 8px 3px;
  border-radius: 3px;
}

/* line 10, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.no {
  font-size: 10px;
  display: inline-block;
  line-height: 100%;
  padding-bottom: 1px;
  letter-spacing: 1px;
  vertical-align: text-top;
  position: relative;
  top: 3px;
  left: 8px;
  margin-left: -25px;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 22, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.no:after {
  content: "";
  width: 12px;
  height: 1px;
  display: block;
  background-color: white;
  margin-left: 2px;
  margin-top: 1px;
}

/* line 33, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.header-content:after {
  background-image: -khtml-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.7)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 0, 0)', endColorstr='rgba(0, 0, 0, 0.7)', GradientType=1)";
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  bottom: 0;
  z-index: 5;
  position: absolute;
}

/* line 44, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.header-title {
  font-size: 85px;
  margin: 0;
  line-height: 130%;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 94px;
  margin-bottom: -50px;
  z-index: 6;
  -webkit-font-smoothing: antialiased;
}
/* line 56, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.header-title, .header-title a {
  color: white;
  text-decoration: none;
}

/* line 59, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number {
  display: block;
  font-size: 36px;
  position: relative;
  line-height: 130%;
}
/* line 65, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number:before, .display-number:after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  left: 50%;
}
/* line 72, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number:before {
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
  margin-left: -3px;
  bottom: -4px;
}
/* line 79, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.display-number:after {
  width: 34px;
  height: 2px;
  margin-left: -17px;
}

/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.global-header + .content {
  top: 80px;
}

/* line 91, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.authenticate {
  display: none;
}
/* line 93, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/elements.scss */
.authenticate.authenticated {
  display: block;
}

/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element {
  float: left;
  width: 295px;
  height: 255px;
}
/* line 5, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element h3 {
  text-align: center;
  line-height: 0;
}
/* line 10, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element img {
  display: block;
  margin: 0 auto;
}

/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element_small img, .content.admin .admin_element img {
  max-width: 100px;
  min-height: 60px;
  background: black;
  margin-right: 10px;
}
/* line 20, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/list.scss */
.list_element_small .admin_element_name, .content.admin .admin_element .admin_element_name {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #bbb;
}

/* line 5, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/admin-page.scss */
.edit_panel {
  position: relative;
  top: 60px;
}

/* line 11, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/admin-page.scss */
.content.admin {
  width: 1080px;
}
/* line 13, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/admin-page.scss */
.content.admin .admin_widget {
  width: 30%;
  float: left;
  margin-right: 3.33333%;
}
/* line 18, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/admin-page.scss */
.content.admin .admin_create_link {
  position: relative;
  top: -4px;
}
/* line 24, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/admin-page.scss */
.content.admin .admin_element_label {
  margin-bottom: 0px;
}

/* line 27, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/admin-page.scss */
.logout-button {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/helpers.scss */
.home-content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 3, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/list-page.scss */
.home-content {
  position: relative;
  top: 80px;
}

/* line 8, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/list-page.scss */
.home .list_element:first-child {
  display: none;
}

/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/list-page.scss */
.list_elements, .list .primary, .component .primary {
  width: 100%;
}
/* line 6, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 11, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 12, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
a {
  color: #777777;
  text-decoration: none;
}

/* line 16, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
p a, li a {
  border-bottom: 1px dotted #777;
}
/* line 18, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
p a:hover, li a:hover {
  color: black;
  border-bottom-color: black;
}

/* line 24, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements/base.scss */
body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

/* line 19, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside {
  width: 330px;
  float: left;
  background-color: white;
  color: #666666;
  margin-bottom: 40px;
}
/* line 25, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside ul, .aside ol, .aside p {
  padding: 0 13px 12px 13px;
  margin: 0;
  font-size: 18px;
}
/* line 30, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside ol {
  counter-reset: li;
  padding-bottom: 0;
}
/* line 33, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside ol li {
  clear: both;
  line-height: 130%;
  padding-bottom: 13px;
}
/* line 37, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside ol li:before {
  content: counter(li);
  counter-increment: li;
  float: left;
  font-size: 26px;
  font-weight: 900;
  color: white;
  margin-right: 8px;
  line-height: 90%;
}
/* line 49, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside p {
  font-size: 14px;
  line-height: 140%;
}
/* line 53, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1 {
  color: #666666;
  font-size: 26px;
  margin: 0;
  font-weight: 900;
  padding: 3px 0 0 13px;
  -webkit-font-feature-settings: "smcp";
  -moz-font-feature-settings: "smcp";
}
/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(2), .aside h1:nth-of-type(2) ~ p, .aside h1:nth-of-type(2) ~ ul, .aside h1:nth-of-type(2) ~ ol {
  background-color: #e8e8e8;
  color: #565656;
}
/* line 13, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(2) ~ h1, .aside h1:nth-of-type(2) ~ ul li, .aside h1:nth-of-type(2) ~ ol li {
  border-bottom-color: #cacaca;
}
/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(2):after {
  background: #cacaca;
}
/* line 15, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(2) + p {
  padding-top: 10px;
}
/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(3), .aside h1:nth-of-type(3) ~ p, .aside h1:nth-of-type(3) ~ ul, .aside h1:nth-of-type(3) ~ ol {
  background-color: #d9d9d9;
  color: #4b4b4b;
}
/* line 13, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(3) ~ h1, .aside h1:nth-of-type(3) ~ ul li, .aside h1:nth-of-type(3) ~ ol li {
  border-bottom-color: #bbbbbb;
}
/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(3):after {
  background: #bbbbbb;
}
/* line 15, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(3) + p {
  padding-top: 10px;
}
/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(4), .aside h1:nth-of-type(4) ~ p, .aside h1:nth-of-type(4) ~ ul, .aside h1:nth-of-type(4) ~ ol {
  background-color: #cccccc;
  color: #424242;
}
/* line 13, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(4) ~ h1, .aside h1:nth-of-type(4) ~ ul li, .aside h1:nth-of-type(4) ~ ol li {
  border-bottom-color: #aeaeae;
}
/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(4):after {
  background: #aeaeae;
}
/* line 15, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(4) + p {
  padding-top: 10px;
}
/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(5), .aside h1:nth-of-type(5) ~ p, .aside h1:nth-of-type(5) ~ ul, .aside h1:nth-of-type(5) ~ ol {
  background-color: #bfbfbf;
  color: #393939;
}
/* line 13, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(5) ~ h1, .aside h1:nth-of-type(5) ~ ul li, .aside h1:nth-of-type(5) ~ ol li {
  border-bottom-color: #a1a1a1;
}
/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(5):after {
  background: #a1a1a1;
}
/* line 15, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:nth-of-type(5) + p {
  padding-top: 10px;
}
/* line 65, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside h1:after {
  content: "";
  position: relative;
  display: block;
  height: 1px;
  background: #e1e1e1;
  left: 8px;
  width: 296px;
  bottom: 2px;
}
/* line 76, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside ul, .aside ol {
  padding-bottom: 0;
}
/* line 77, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside ul li:last-child, .aside ol li:last-child {
  border-bottom-width: 0;
}
/* line 78, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside li {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 14px;
  padding-top: 12px;
}
/* line 83, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside .amount {
  display: inline-block;
  border-right: 1px solid #e1e1e1;
  min-width: 60px;
  margin-right: 4px;
  text-align: right;
  padding-right: 7px;
  font-weight: bold;
}
/* line 92, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/widgets/recipe.scss */
.aside .unit {
  font-weight: normal;
  font-size: 13px;
  margin-left: 1px;
  color: #999999;
}

/* line 11, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/recipe-page.scss */
.primary {
  width: 610px;
  float: left;
  font-size: 19px;
  padding: 20px 25px;
  margin-bottom: 40px;
  line-height: 130%;
  color: #555555;
  background-color: #f1f1f1;
}
/* line 20, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/recipe-page.scss */
.primary p {
  max-width: 550px;
}
/* line 21, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/recipe-page.scss */
.primary p:first-of-type {
  margin-top: 0;
}
/* line 22, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/pages/recipe-page.scss */
.primary p:first-of-type:first-letter {
  font-size: 51px;
  float: left;
  line-height: 0;
  margin-top: 27px;
  margin-right: 4px;
  font-weight: 900;
}
