@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *







 */

.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 10;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}
/* line 8, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/helpers.scss */
h1:first-letter {
  font-feature-settings: "swsh" 1;
  -moz-font-feature-settings: "swsh" 1;
  -webkit-font-feature-settings: 'swsh' 1;
}

/* line 3, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/typography.scss */
html, body {
  font-family: "bookmania";
}

/* line 4, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/typography.scss */
h1, h2, h3 {
  font-weight: 900;
}

/* line 6, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/typography.scss */
a {
  color: #635c59;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-regular.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-regular.woff") format("woff"), url("/webfonts/bookmania-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-regular-italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-regular-italic.woff") format("woff"), url("/webfonts/bookmania-regular-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-semibold.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-semibold.woff") format("woff"), url("/webfonts/bookmania-semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-semibold-italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-semibold-italic.woff") format("woff"), url("/webfonts/bookmania-semibold-italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-bold.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-bold.woff") format("woff"), url("/webfonts/bookmania-bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "bookmania";
  src: url("/webfonts/bookmania-bold-italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/bookmania-bold-italic.woff") format("woff"), url("/webfonts/bookmania-bold-italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* line 58, sprite/*.png */
.sprite-sprite, .sprite-search, .twitter-typeahead:before, .sprite-tuxno2-logo-small, .sprite-tuxno2-logo {
  background: url(/assets/sprite-sc1b08192ca.png) no-repeat;
}

/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/helpers.scss */
.global-header, .header-content, .content, .edit_panel, .home-content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 8, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/helpers.scss */
.list_element h3:first-letter {
  font-feature-settings: "swsh" 1;
  -moz-font-feature-settings: "swsh" 1;
  -webkit-font-feature-settings: 'swsh' 1;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-search, .twitter-typeahead:before {
  background-position: 0 -68px;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-tuxno2-logo-small {
  background-position: 0 -38px;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-tuxno2-logo {
  background-position: 0 0;
}

/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 15, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
a {
  text-decoration: none;
}

/* line 17, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
body {
  background: #ece7e6;
  margin: 0;
  padding: 0;
}

/* line 23, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.global-header {
  position: relative;
}

/* line 28, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-primary, .header-secondary {
  width: 100%;
  position: absolute;
  z-index: 5;
}

/* line 34, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-primary {
  top: 25px;
}

/* line 38, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.search-wrapper {
  position: relative;
  right: 8px;
  top: 8px;
}

/* line 44, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-secondary {
  height: 24px;
  padding: 4px 10px;
  border-bottom: 1px solid #333;
}
/* line 48, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-secondary .links {
  float: left;
}

/* line 51, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header {
  width: 100%;
  background: #030a0d;
  min-height: 540px;
  overflow: hidden;
}

/* line 58, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-content {
  min-height: 540px;
  border: 1px solid #222;
}
/* line 63, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-content > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/* line 75, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.global-header + .content {
  top: 80px;
}

/* line 92, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside {
  width: 330px;
  float: left;
  background-color: #54524e;
  color: #d7d4d2;
  margin-bottom: 40px;
}
/* line 98, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside a {
  color: #aaa;
  border-bottom: 1px dotted #777777;
}
/* line 102, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside p, .aside li, .aside h1 {
  margin: 0;
  padding: 5px 10px;
}
/* line 106, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside ul li:last-child {
  border-bottom-width: 0;
}
/* line 107, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside p {
  font-size: 14px;
  padding-bottom: 7px;
}
/* line 111, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1 {
  color: #fbfbfb;
  font-size: 20px;
  border-bottom: 1px solid #777777;
  margin: 0;
  font-weight: bold;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(2), .aside h1:nth-of-type(2) ~ p {
  background-color: #32302e;
  color: #c1bdb9;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(2) ~ h1, .aside h1:nth-of-type(2) ~ li {
  border-bottom-color: #565656;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(3), .aside h1:nth-of-type(3) ~ p {
  background-color: #1f1e1d;
  color: #b5b0ac;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(3) ~ h1, .aside h1:nth-of-type(3) ~ li {
  border-bottom-color: #444444;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(4), .aside h1:nth-of-type(4) ~ p {
  background-color: #171716;
  color: #b0aaa7;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(4) ~ h1, .aside h1:nth-of-type(4) ~ li {
  border-bottom-color: #3c3c3c;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(5), .aside h1:nth-of-type(5) ~ p {
  background-color: #050504;
  color: #a59e99;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(5) ~ h1, .aside h1:nth-of-type(5) ~ li {
  border-bottom-color: #2a2a2a;
}
/* line 123, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside li {
  border-bottom: 1px solid #777777;
  padding-bottom: 9px;
  margin-top: 8px;
}

/* line 134, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.primary {
  width: 610px;
  float: left;
  font-size: 19px;
  padding: 20px 25px;
  margin-bottom: 40px;
  color: #635c59;
  background-color: #ece7e6;
}
/* line 142, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.primary p {
  max-width: 550px;
}

/* line 145, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.edit_panel {
  position: relative;
  top: 60px;
}

/* line 151, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin {
  width: 1080px;
}
/* line 153, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin .admin_widget {
  width: 30%;
  float: left;
  margin-right: 3.33333%;
}
/* line 158, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin .admin_create_link {
  position: relative;
  top: -4px;
}
/* line 164, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin .admin_element_label {
  margin-bottom: 0px;
}

/* line 167, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.logout-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* line 174, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.home-content {
  position: relative;
  top: 80px;
}

/* line 179, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.home .list_element:first-child {
  display: none;
}

/* line 180, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.list_elements, .list .primary {
  width: 100%;
}

/* line 182, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.user_links {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* line 3, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
#logo {
  width: 170px;
  height: 30px;
  display: block;
  text-indent: -99999px;
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 2;
}

/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.header-title {
  font-size: 85px;
  margin: 0;
  line-height: 130%;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 30%;
  margin-bottom: -50px;
}

/* line 27, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.links, .right-links {
  text-transform: uppercase;
  font-size: 12px;
}
/* line 30, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.links .link:not(:last-child):after, .right-links .link:not(:last-child):after {
  content: " • ";
}

/* line 33, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.right-links {
  float: right;
}

/* line 35, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead {
  width: 300px;
  color: #ccc;
  font-size: 20px;
  position: relative;
  z-index: 5;
  color: white;
  float: right;
}
/* line 43, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead .tt-dropdown-menu {
  background-color: rgba(50, 50, 50, 0.8);
  border: 1px solid #333;
  width: 100%;
}
/* line 48, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead .tt-suggestion {
  border-bottom: 1px solid #333;
  padding: 10px 20px;
  margin: 0;
  display: block;
  line-height: 0;
  float: left;
  width: 100%;
  cursor: pointer;
}
/* line 57, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead .tt-suggestion.tt-cursor {
  background-color: rgba(70, 70, 70, 0.8);
  color: white;
}
/* line 59, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead:before {
  content: "";
  float: left;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  z-index: 6;
  top: 3px;
  right: 5px;
  position: absolute;
}
/* line 71, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead .tt-input:focus {
  outline: 0;
  border: 1px solid #999;
}
/* line 74, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead .tt-input:focus:before {
  opacity: 1;
}
/* line 76, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead .tt-hint {
  background-color: transparent !important;
  right: 0 !important;
  left: auto !important;
}

/* line 83, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint, input.search {
  margin-bottom: 0;
  background-color: rgba(50, 50, 50, 0.8) !important;
  color: #ccc;
  height: 27px;
  font-size: 16px;
  width: 300px;
  float: right;
  position: relative;
  opacity: 0.7;
}

/* line 95, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.list_element {
  float: left;
  width: 295px;
  height: 255px;
}
/* line 99, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.list_element h3 {
  text-align: center;
  line-height: 0;
}
/* line 104, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.list_element img {
  display: block;
  margin: 0 auto;
}

/* line 108, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.list_element_small img, .content.admin .admin_element img {
  max-width: 100px;
  min-height: 60px;
  background: black;
  margin-right: 10px;
}
/* line 114, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.list_element_small .admin_element_name, .content.admin .admin_element .admin_element_name {
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #bbb;
}

/* line 121, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.subtle_button, .content.admin .admin_create_link, .logout-button {
  font-size: 16px;
  border: 1px solid rgba(100, 100, 100, 0.4);
  padding: 2px 8px 3px;
  border-radius: 3px;
}

/* line 128, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.authenticate {
  display: none;
}
/* line 130, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/elements.scss */
.authenticate.authenticated {
  display: block;
}
/* line 58, sprite/*.png */
.sprite-sprite, .sprite-search, .sprite-tuxno2-logo-small, .sprite-tuxno2-logo {
  background: url(/assets/sprite-sc1b08192ca.png) no-repeat;
}

/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/helpers.scss */
.global-header, .header-content, .content, .edit_panel, .home-content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-search {
  background-position: 0 -68px;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-tuxno2-logo-small {
  background-position: 0 -38px;
}

/* line 60, /opt/boxen/rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-tuxno2-logo {
  background-position: 0 0;
}

/* line 9, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 15, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
a {
  text-decoration: none;
}

/* line 17, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
body {
  background: #ece7e6;
  margin: 0;
  padding: 0;
}

/* line 23, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.global-header {
  position: relative;
}

/* line 28, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-primary, .header-secondary {
  width: 100%;
  position: absolute;
  z-index: 5;
}

/* line 34, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-primary {
  top: 25px;
}

/* line 38, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.search-wrapper {
  position: relative;
  right: 8px;
  top: 8px;
}

/* line 44, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-secondary {
  height: 24px;
  padding: 4px 10px;
  border-bottom: 1px solid #333;
}
/* line 48, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-secondary .links {
  float: left;
}

/* line 51, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header {
  width: 100%;
  background: #030a0d;
  min-height: 540px;
  overflow: hidden;
}

/* line 58, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-content {
  min-height: 540px;
  border: 1px solid #222;
}
/* line 63, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.header-content > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/* line 75, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.global-header + .content {
  top: 80px;
}

/* line 92, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside {
  width: 330px;
  float: left;
  background-color: #54524e;
  color: #d7d4d2;
  margin-bottom: 40px;
}
/* line 98, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside a {
  color: #aaa;
  border-bottom: 1px dotted #777777;
}
/* line 102, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside p, .aside li, .aside h1 {
  margin: 0;
  padding: 5px 10px;
}
/* line 106, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside ul li:last-child {
  border-bottom-width: 0;
}
/* line 107, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside p {
  font-size: 14px;
  padding-bottom: 7px;
}
/* line 111, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1 {
  color: #fbfbfb;
  font-size: 20px;
  border-bottom: 1px solid #777777;
  margin: 0;
  font-weight: bold;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(2), .aside h1:nth-of-type(2) ~ p {
  background-color: #32302e;
  color: #c1bdb9;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(2) ~ h1, .aside h1:nth-of-type(2) ~ li {
  border-bottom-color: #565656;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(3), .aside h1:nth-of-type(3) ~ p {
  background-color: #1f1e1d;
  color: #b5b0ac;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(3) ~ h1, .aside h1:nth-of-type(3) ~ li {
  border-bottom-color: #444444;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(4), .aside h1:nth-of-type(4) ~ p {
  background-color: #171716;
  color: #b0aaa7;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(4) ~ h1, .aside h1:nth-of-type(4) ~ li {
  border-bottom-color: #3c3c3c;
}
/* line 84, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(5), .aside h1:nth-of-type(5) ~ p {
  background-color: #050504;
  color: #a59e99;
}
/* line 88, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside h1:nth-of-type(5) ~ h1, .aside h1:nth-of-type(5) ~ li {
  border-bottom-color: #2a2a2a;
}
/* line 123, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.aside li {
  border-bottom: 1px solid #777777;
  padding-bottom: 9px;
  margin-top: 8px;
}

/* line 134, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.primary {
  width: 610px;
  float: left;
  font-size: 19px;
  padding: 20px 25px;
  margin-bottom: 40px;
  color: #635c59;
  background-color: #ece7e6;
}
/* line 142, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.primary p {
  max-width: 550px;
}

/* line 145, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.edit_panel {
  position: relative;
  top: 60px;
}

/* line 151, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin {
  width: 1080px;
}
/* line 153, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin .admin_widget {
  width: 30%;
  float: left;
  margin-right: 3.33333%;
}
/* line 158, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin .admin_create_link {
  position: relative;
  top: -4px;
}
/* line 164, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.content.admin .admin_element_label {
  margin-bottom: 0px;
}

/* line 167, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.logout-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* line 174, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.home-content {
  position: relative;
  top: 80px;
}

/* line 179, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.home .list_element:first-child {
  display: none;
}

/* line 180, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.list_elements, .list .primary {
  width: 100%;
}

/* line 182, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/layout.scss */
.user_links {
  position: absolute;
  top: 10px;
  right: 20px;
}
/* line 1, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
input[type="text"], textarea, .textfield {
  width: 100%;
  border-radius: 4px;
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  background: #ddd;
  color: #333;
  line-height: 124%;
  border: 1px solid #555;
  padding: 6px 10px;
}

/* line 14, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
textarea {
  min-height: 300px;
}
/* line 16, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
textarea#recipe {
  min-height: 415px;
}

/* line 19, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
.form_block {
  width: 440px;
  float: left;
}
/* line 22, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
.form_block.primary {
  margin-right: 20px;
}

/* line 25, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
input[type="submit"], button {
  display: block;
  min-width: 120px;
  font-size: 18px;
  margin-top: 7px;
}

/* line 32, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
button {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 7px;
}

/* line 38, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
.mention_username {
  font-size: 18px;
  color: #999;
}

/* line 43, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
.user-form, .alert, .notice {
  width: 400px;
  padding: 30px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 4px;
}

/* line 51, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
.alert, .notice {
  padding: 10px 30px;
  color: white;
  background-color: #FF524D;
  margin-bottom: 10px;
}

/* line 58, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
.alert:empty, .notice:empty {
  display: none;
}

/* line 59, /Users/chrissy/cocktails/Tuxedo/app/assets/stylesheets/forms.scss */
.active .mention_username {
  color: #333;
}
