<%= render 'recommends', :recommends => recipe.recommends if recipe.recommends.present? %>
<h1 class="site-footer">  
  How to make a <%= link_to recipe.name, recipe.url %> | <%= similar_recipes_link(recipe) %> | <%= all_recipes_link %>
</h1>
