<div class="recommends">
  <div class="recommends-label">
    <h5 class="recommends-label-text">Try a similar cocktail:</h5>
    <div class="recommends-divider"></div>
  </div>
  <%= render "lists/list_with_images", :list_elements => recommends %>
</div>