<% classname ||= '' %>
<% slug = tag.gsub(' ', '-') %>
<a tooltip="<%= text_tooltip(tag) %>" style="line-height: 0;" href="/tags/<%= slug %>">
  <%= render 'shared/svg', id: "tag-" + slug, className: "tag tag--#{slug} #{classname}" %>
</a>
