<% classname ||= '' %>
<% slug = tag.gsub(' ', '-') %>
<span tooltip="<%= text_tooltip(tag) %>" style="line-height: 0;">
  <%= render 'shared/svg', id: "tag-" + slug, className: "tag tag--#{slug} #{classname}" %>
</span>
