<h1>create recipe</h1>

<%= form_tag({controller: "recipes", action: "create"}, method: "post", class: "new-recipe-form") do %>
  <%= text_field_tag :name, "", :placeholder => "name" %>
  <%= text_area_tag :description, "", :placeholder => "description" %>
  <%= submit_tag("create") %>
<% end %>