<%= render 'shared/index_header', :title => 'Search' %>
<div class="search-results">
  <% all_elements_for_search.each do |element, highlight| %>
  <% 
  subtext = ''
  subtext += highlight[:recipe].html_safe if highlight.has_key?(:recipe)
  subtext += highlight[:description].html_safe if highlight.has_key?(:description)
  %>
  <%= render 'shared/index_item', element: element, for_search: true, search_result: subtext %>
  <% end %>
</div>
<%= render 'shared/index_menu' %>
<%= render 'shared/index_alphabet_menu', :controller => :recipes, :title => 'Cocktails A-Z' %>
