<% show_edit_button = @recipe.present? || @list.present? || @component.present? %>
<% cache(global_header_cache_key) do %>
  <div class="global-header">
    <a href="/" class="global-header__logo">
      <%= render 'shared/svg', id: "logo" %>
    </a>
    <div class="global-header__secondary-content">
      <div class="global-header__links hidden" data-target-toggleable="header-links">
        <% unless @list.present? %>
          <a class="global-header__link" href="/ingredients">Ingredients</a>
          <a class="global-header__link" href="/recipes">Recipes</a>
          <a class="global-header__link" href="/about">About</a>
        <% end %>
        <a class="global-header__link authenticate" href="/admin">Admin</a>
        <% if show_edit_button %>
          <a class="global-header__link authenticate" href="<%= edit_url() %>">Edit</a>
        <% end %>
      </div>
      <div class="global-header__search-wrapper">
        <input type="text" class="global-header__search-input" data-role="search"/>
        <%= render 'shared/svg', id: "search", className: "global-header__search-icon" %>
      </div>
      <div class="global-header__mobile-hamburger-menu" data-toggle-target="[data-target-toggleable='header-links']">
        <%= render 'shared/svg', id: "hamburger", class_name: "global-header__mobile-hamburger-svg" %>
      </div>
    </div>
  </div>
<% end %>
