<% cache(global_header_cache_key) do %>
  <div class="global-header">
    <div class="header-primary">
      <a href="/" id="logo">
        Tuxedo Number Two: Cocktails, Spiritis, Drinks, Etc.
      </a>
    </div>
    <div class="header-secondary">
      <%= render 'shared/links' %>
      <%= render 'shared/social' %>
      <div class="search-wrapper">
        <input type="text" class="search" placeholder="search"></input>
        <div class="search-icon"></div>
      </div>
    </div>
  </div>
<% end %>
