<div class="index-menu">
  <a href="/recipes" class="index-menu-item">Recipes Index</a>
  <a href="/ingredients" class="index-menu-item">Ingredients Index</a>
  <a href="/lists" class="index-menu-item">Lists Index</a>
  <a href="/lists" class="index-menu-item">Full Index</a>
</div>
