<div class="links">
  <a href="/recipes" class="link">Recipes</a>
  <a href="/ingredients" class="link">Ingredients</a>
  <a href="/lists" class="link">Lists</a>
  <a href="/about" class="link">About</a>
</div>
