<% border_version ||= false %>

<div class="card mail <%= border_version ? 'card--border-version' : '' %>">
  <div class="label card__label <%= border_version ? 'card__label--border-version' : '' %>">The Tasty Mail</div>
  <img 
    class="card__image"
    width="110px" 
    src="/images/mail-illustration-1x.png" 
    style="margin-left: -10px; margin-bottom: -10px;"
    srcset="
      /images/mail-illustration-1x.png 1x, 
      /images/mail-illustration-2x.png 2x"
  />
  <div class="card__content">
    <p class="card__text <%= border_version ? 'card__text--border-version' : '' %>">
      The Tuxedo No.2 <strong>email list</strong> sends a yummy cocktail to your inbox every friday. No spam. No junk. Just tasty.
    </p>
    <div class="card__actions">
      <a href="https://instagram.com/tuxedono2" class="card__action">Sign Up</a>
    </div>
  </div>
</div>
