<div class="social-links">
  <a href="#" class="social-link twitter sprite-pinterest">pinterest</a>
  <a href="#" class="social-link twitter sprite-insta">instagram</a>
  <a href="#" class="social-link twitter sprite-twitter">twitter</a>
</div>