<div class="social-links">
  <a href="http://www.pinterest.com/crimsonwigged/tuxedo-no2/" class="social-link pinterest">pinterest</a>
  <a href="http://instagram.com/tuxedono2" class="social-link insta">instagram</a>
  <a href="https://twitter.com/tuxno2" class="social-link twitter">twitter</a>
  <div class="social-prompt">Follow us for cocktail updates!</div>
</div>