<div class="header list">
  <div class="header-content">
    <img class="header-image" src="https://dl.dropboxusercontent.com/u/5103140/screenshots/does-not-fit.jpg"/>
    <h1 class="header-title" itemprop="name">
      About
    </h1>
  </div>
</div>
<div class="content list about">
  <div class="primary description">
    <img src="https://dl.dropboxusercontent.com/u/5103140/screenshots/tuxedo-banner-small.jpg"/>
    <h2>Facts about redheads:</h2>
    <ul class="about-list">
      <li>Red hair occurs naturally in 1–2% of the human population.</li>
      <li>Red hair occurs naturally in 1–2% of the human population.</li>
      <li>Red hair occurs naturally in 1–2% of the human population.</li>
      <li>Red hair occurs naturally in 1–2% of the human population.</li>
    </ul>
    <br/><br/>  
    <h2>Contact:</h2>
    <ul>
      <li>tuxedono2@gmail.com</li>
      <li><a href="http://twitter.com/tuxno2">@tuxno2 on twitter</a></li>
      <li><a href="http://instagram.com/tuxedono2">@tuxedono2 on instagram</a></li>
      <li><a href="http://pinterest.com/tuxedono2">TuxedoNo2 on Pinterest</a></li>
    </ul>
  </div>
</div>
