<div class="header list">
  <div class="header-content">
    <img class="header-image" src="about_photo.jpg"/>
    <h1 class="header-title" itemprop="name">
      About
    </h1>
  </div>
</div>
<div class="content list about">
  <div class="primary description">
    <h2>Facts about redheads:</h2>
    <ul class="about-list">
      <li>Red hair occurs naturally in 1-2% of the human population.</li>
      <li>Red hair is triggered by a recessive mutation at the MC1R gene.</li>
      <li>Redheads share genetic characteristics with the majestic Spirit Bear.</li>
      <li>Redheads are most frequently sighted in Scotland.</li>
      <li>Redheads require 20% more general anesthesia.</li>
      <li>Redheads feed on tasty cocktails.</li>
    </ul>
    <br/><br/>  
    <h2>Contact:</h2>
    <ul>
      <li><a href="mailto:tuxedono2@gmail.com">tuxedono2@gmail.com</a></li>
      <li><a href="http://twitter.com/tuxno2">@tuxno2 on twitter</a></li>
      <li><a href="http://instagram.com/tuxedono2">@tuxedono2 on instagram</a></li>
      <li><a href="http://pinterest.com/tuxedono2">TuxedoNo2 on Pinterest</a></li>
    </ul>
  </div>
</div>
