<div class="header short">
  <div class="header-content">
    <%= index_header_image %>
    <h1 class="header-title small">Cocktail <%= @type %> Index</h1>
  </div>
</div>

<div class="content grid">
  <% @elements_grouped_by_letter.each do |letter, elements| %>
    <h1 class="index-letter-label"><%= letter %></h1>
    <%= render partial: 'shared/index_item', collection: elements, as: :element if elements %>
  <% end %>
</div>
