input[type="text"], textarea, .textfield {
  width: 100%;
  border-radius: 4px;
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  background: #ddd;
  color: #333;
  line-height: 124%;
  border: 1px solid #555;
  padding: 6px 10px;
}

textarea {
  min-height: 300px;
  &#recipe { min-height: 415px; }
}

.form_block {
  width: 440px;
  float: left;
  &.primary { margin-right: 20px; }
}

input[type="submit"], button {
  display: block;
  min-width: 120px;
  font-size: 18px;
  margin-top: 7px;
}

button {
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 7px;
}

.mention_username{
  font-size: 18px;
  color: #999;
}

.user-form, .alert, .notice {
  width: 500px;
  padding: 30px;
  margin: 0 auto;
  background-color: #f6f6f6;
  border-radius: 4px;
}

.alert, .notice { 
  padding: 10px 30px;
  color: white;
  width: 400px;
  background-color: #FF524D;
  margin-bottom: 10px; 
}

.alert:empty, .notice:empty { display: none; }
.active .mention_username{ color: #333; }