$background-color: #ece7e6;
$header-height: 540px;

* {
  box-sizing: border-box;
}

%centered-content-box {
  width: 940px;
  margin: 0 auto;
  position: relative;  
}

body {
  background: $background-color;
}

.header {
  width: 100%;
  background: #030a0d;
  min-height: $header-height;
  overflow: hidden;
}

.header-content {
  @extend %centered-content-box;
  min-height: $header-height;

  & > img { 
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}

.header-title {
  color: white;
  font-size: 75px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  text-align: center;
}