@import "compass/utilities/sprites";
@import "sprite/*.png";
@import "helpers";
@include all-sprite-sprites;

$background-color: #ece7e6;
$header-height: 540px;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul, li { list-style-type: none; padding: 0; margin: 0; }
a { text-decoration: none; }

body {
  background: $background-color;
  margin: 0;
  padding: 0;
}

.global-header {
  @extend %centered-content-box;
  position: relative;
}

.header {
  width: 100%;
  background: #030a0d;
  min-height: $header-height;
  overflow: hidden;
}

.header-content {
  @extend %centered-content-box;
  min-height: $header-height;
  border: 1px solid #222;

  & > img { 
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}

.content {
  @extend %centered-content-box;
  .global-header + & { top: 80px; }
}

$components-border-color: #777;
$components-text-color: #d7d4d2;
$components-bg-color: #54524E;

@mixin natural_component_section($number, $percent) {
  &:nth-of-type(#{$number}) { 
    &, & ~ p { 
      background-color: darken($components-bg-color, $percent);
      color: darken($components-text-color, $percent*0.7); 
    }
    & ~ h1, & ~ li { border-bottom-color: darken($components-border-color, $percent); }
  }
}

.aside {
  width: 330px;
  float: left;
  background-color: $components-bg-color;
  color: $components-text-color;
  margin-bottom: 40px;
  a {
    color: #aaa; 
    border-bottom: 1px dotted $components-border-color; 
  }
  p, li, h1 {
    margin: 0;
    padding: 5px 10px;
  }
  ul li:last-child { border-bottom-width: 0; }
  p { 
    font-size: 14px;
    padding-bottom: 7px; 
  }
  h1 {
    color: lighten($components-text-color, 15%);
    font-size: 20px;
    border-bottom: 1px solid $components-border-color;
    margin: 0;
    font-weight: bold;
    @include natural_component_section(2, 13%);
    @include natural_component_section(3, 20%);
    @include natural_component_section(4, 23%);
    @include natural_component_section(5, 30%);

  }
  li {
    border-bottom: 1px solid $components-border-color;
    padding-bottom: 9px;
    margin-top: 8px;
  }
}

$description-text-color: #635c59;
$description-border-color: darken($description-text-color, 15%);
$description-background-color: $background-color; 

.primary {
  width: 610px;
  float: left;
  font-size: 19px;
  padding: 20px 25px;
  margin-bottom: 40px;
  color: $description-text-color;
  background-color: $description-background-color;
  p { max-width: 550px; }
}

.edit_panel {
  @extend %centered-content-box;
  position: relative;
  top: 60px;
}

.content.admin {
  width: 1080px;
  .admin_widget {
    width: 30%;
    float: left;
    margin-right: 3.33333%;
  }
  .admin_create_link {
    @extend .subtle_button;
    position: relative;
    top: -4px;
  }
  .admin_element { @extend .list_element_small; }
  .admin_element_label { margin-bottom: 0px; }
}

.logout-button {
  @extend .subtle_button;
  position: absolute;
  right: 20px;
  top: 20px;
}

.home-content {
  @extend %centered-content-box;
  position: relative;
  top: 80px;
}
.home .list_element:first-child { display: none; }
.list_elements, .list .primary { width: 100%; }

.user_links {
  position: absolute;
  top: 10px;
  right: 20px;
}