html, body { font-family: "bookmania"; }
h1, h2, h3 { font-weight: 900; }
h1:first-letter { 
  font-feature-settings:"swsh" 1; 
  -moz-font-feature-settings:"swsh=1";
  -webkit-font-feature-settings: 'swsh' 1; 
}

@mixin font-face($family, $filename, $font-weight: normal, $font-style: normal) {
  @font-face { 
    font-family: "#{$family}";
    src: url("/webfonts/#{$filename}.eot?#iefix") format("embedded-opentype"), url("/webfonts/#{$filename}.woff") format("woff"), url("/webfonts/#{$filename}.ttf") format("truetype");
    font-weight: $font-weight;
    font-style: $font-style;
  }  
}

@include font-face("bookmania", "bookmania-regular");
@include font-face("bookmania", "bookmania-regular-italic", $font-style: italic);
@include font-face("bookmania", "bookmania-semibold", $font-weight: bold);
@include font-face("bookmania", "bookmania-semibold-italic", $font-weight: bold, $font-style: italic);
@include font-face("bookmania", "bookmania-bold", $font-weight: 900);
@include font-face("bookmania", "bookmania-bold-italic", $font-style: italic, $font-weight: 900);