@import "../utilities/colors.scss";
@import "../utilities/breakpoints.scss";
@import "../utilities/font-stacks.scss";
@import "../elements/helpers.scss";

$search-width: 300px;
$mobile-search-width: 120px;

.global-header {
  @extend .centered-content-box-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 18px;
  z-index: 1;
  background: green;

  div &--list {
    padding-right: 2em;
    max-width: 1286px;
  }

  &__logo {
    display: block;
    width: 120px;
    height: 40px;
    color: #000;
    margin-left: -5px;
    margin-top: 2px;
  }

  &__secondary-content {
    display: flex;
    align-items: center;
  }

  &__search-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__search-icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: 10px;
    color: #000;
  }

  &__search-input {
    margin-bottom: 0;
    background-color: hsla(0, 0, 55, 0.5);
    font-size: 16px;
    position: relative;
    opacity: 0.7;
    width: $search-width;
    border: 0;
    height: 26px;
    border-radius: 100px;
    color: #000;
    text-indent: 28px;

    &:focus {
      outline: 0;
      border: 1px solid #000;
      background-color: $gray-2;
    }

    @media (max-width: $mobile) {
      width: $mobile-search-width;

      &:focus {
        width: 100%;
        z-index: 10;
      }
    }
  }

  &__links {
    margin-right: 14px;
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      flex-direction: column;
      position: absolute;
      width: 100vw;
      left: 0;
      top: 100%;
      background: #f0f0f0;
      padding: 0 1.5em 1.25em 1em;

      &.hidden {
        display: none;
      }
    }

    body.lists & {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    font-family: $sans-serif;
    margin-left: 10px;
    color: $gray-3;

    &:hover {
      border-bottom: 3px solid #000;
      padding-bottom: 2px;
    }

    @media (max-width: $mobile) {
      font-size: 20px;
      padding: 16px 0 0px 0;
      width: 100%;
    }
  }

  &__mobile-hamburger-menu {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    display: none;
    margin-left: 12px;

    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__mobile-hamburger-icon {
    height: 100%;
    width: auto;
  }

  .autocomplete-container {
    left: 12px;
    width: calc(100% - 24px);
  }

  &--search-focus {
    @media (max-width: $mobile) {
      .global-header__logo {
        display: none;
      }

      .global-header__secondary-content {
        flex: 1;
        justify-content: flex-end;
      }

      .global-header__search-input,
      .global-header__search-wrapper,
      .autocomplete-wrapper {
        width: 100%;
      }
    }
  }
}
