#logo {
  @include hires-background(173px, 34px, 0, 0);
  display: block;
  text-indent: -99999px;
  position: absolute;
  left: 15px;
  top: -13px;
  z-index: 2;
}

.links {
  text-transform: uppercase;
  font-size: 12px;
  float: right;
  margin-bottom: 6px;
  a { color: #666; }
  .link:not(:last-child):after { content: " • "}
}

.global-header { @extend %centered-content-box-large; }

.header-primary, .header-secondary {
  position: absolute;
  z-index: 5;
}

.header-primary {
  top: 25px;
}

.header-secondary {
  height: 24px;
  padding: 4px 10px;
  right: 0;
  top: 5px;
}

.header, .header-content {
  height: 600px;
}

.header.short, .header.short .header-content {
  height: 250px;
}

.header {
  width: 100%;
  background: #030a0d;
  overflow: hidden;
}

.header-content {
  @extend %centered-content-box-large;
  border: 1px solid #222;
  position: relative;
  overflow: hidden;

  & > img {
    height: auto;
    width: 102%;
    position: absolute;
    top: -5px;
    left: -9999px;
    right: -9999px;
    bottom: auto;
    margin: auto;
  }
}

.user_links {
  position: absolute;
  top: 10px;
  right: 20px;
}

.social-links {
  width: 30px;
  position: absolute;
  right: -42px;
  top: 6px;
}

.social-link {
  text-indent: -9999%;
  display: block;
  width: 25px;
  height: 25px;
  opacity: 0.8;
  margin-bottom: 8px;
  &:hover { opacity: 1; }
  &.pinterest { @include hires-background(25px, 25px, 0, -202px); }
  &.insta { @include hires-background(25px, 25px, 0, -333px); }
  &.twitter { @include hires-background(25px, 25px, 0, -283px); }
}

$social-prompt-color: #777;
$social-prompt-size: 7px;
.social-prompt {
  @include transition(0.15s opacity ease-in, 0.15s right ease-in);
  position: absolute;
  background: $social-prompt-color;
  color: white;
  padding: 3px 10px 1px;
  font-size: 15px;
  width: 224px;
  bottom: 7px;
  border-radius: 2px;
  opacity: 0;
  right: 43px;
  display: none;
  &.active { opacity: 1; right: 53px; }
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-top: $social-prompt-size solid transparent;
    border-bottom: $social-prompt-size solid transparent;
    border-left: $social-prompt-size solid $social-prompt-color;
    position: absolute;
    right: $social-prompt-size*-1;
    top: $social-prompt-size;
  }
  .win & {
    line-height: 110%;
    padding-bottom: 8px;
  }
}
html[data-share-alert="3"] .social-prompt{ display: block; }

@media (max-width: 1150px) {
  .global-header, .header-primary { width: 100%; }
  .user_links {
    right: 10px;
    top: 70px;
  }
  .header-content {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    & > img {
      height: 102%;
      width: auto;
    }
  }
  .social-links {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 145px;
  }
}

@media (max-width: 650px) {
  html .header, html .header-content, html .header.list, html .header.list .header-content {
    height: 360px;
    height: 100vh;
    min-height: 360px;
    max-height: 560px;
  }
  #logo {
    margin: 0 auto;
    left: 0;
    position: relative;
  }
  .header-secondary {
    width: 100%;
    position: relative;
    top: 50px;
  }
  .links {
    text-align: center;
    width: 100%;
    left: 4px;
    position: relative;
  }
  .display-number {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .search-wrapper { margin: 0 auto; }
  html body .header .user_links { display: none; }
  html body .header .header-title { font-size: 45px; }
  .global-header { position: absolute; }
  .links a { color: white; }
}
