@import "../utilities/colors.scss";

$search-width: 300px;
$compact-search-width: 300px - 20px;

.global-header {
  @extend .centered-content-box-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;

  &__logo {
    display: block;
    width: 120px;
    height: 40px;
    color: #000;
  }

  &__secondary-content {
    display: flex;
    align-items: center;
  }

  &__search-wrapper {
    position: relative;
    width: $search-width;
  }

  &__search-icon {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: 10px;
    color: #000;
  }

  &__search-input {
    margin-bottom: 0;
    background-color: $gray-2;
    font-size: 16px;
    position: relative;
    opacity: 0.7;
    width: $search-width;
    border: 0;
    height: 26px;
    border-radius: 100px;
    color: #000;
    text-indent: 28px;

    &:focus {
      outline: 0;
      border: 1px solid #000;
    }
  }

  &__user-links {
    position: absolute;
    left: 101%;
    width: 120px;
  }

  .autocomplete-container {
    left: 12px;
    width: calc(100% - 24px);
  }
}
