.list-element {
  position: relative;
}

.list-element__details {
  position: absolute;
  color: #fff;
  font-family: "mr-eaves";
  font-size: 18px;
  text-decoration: none;
  bottom: 0;
  width: 100%;
  padding: 16px;

  a {
    text-decoration: none;
  }
}

.list-element__display-number {
  position: absolute;
  top: 110px;
  transform: translateX(-50%);
}

.list-element__name {
  line-height: 110%;
  font-weight: normal;
  font-size: inherit;
  margin: 0;
}

.list-element__image--hero {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list-element__number {
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.list-element__image-link {
  display: block;
  height: 100%;
  background: black;
}

.list-element__img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
