@import "../utilities/breakpoints.scss";
@import "../utilities/font-stacks.scss";

.list-element {
  position: relative;

  &__details {
    position: absolute;
    color: #fff;
    font-family: $sans-serif;
    font-size: 18px;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    padding: 16px;
    text-transform: capitalize;

    a {
      text-decoration: none;
    }

    &--featured {
      padding: 24px;
    }
  }

  &__display-number {
    position: absolute;
    top: 130px;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__name {
    line-height: 110%;
    font-weight: normal;
    font-size: inherit;
    margin: 0;

    &--featured {
      font-size: 32px;
      font-family: $serif;
      font-weight: bold;

      &:first-letter {
        font-feature-settings: "swsh";
      }
    }
  }

  &__number {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  &__image-link {
    display: block;
    height: 100%;
    background: black;
  }

  &__image-link--hero {
    height: calc(100% + 56px);
    width: calc(100% + 18px);
    position: relative;
    top: -56px;

    @media (min-width: 1150px) {
      //top: 0;
      //height: 100%;
      width: calc(100% + ((100vw - 1113px) / 2));
      max-width: 770px;
    }

    @media (max-width: $mobile) {
      width: 100%;
      height: 100%;
      top: 0;
    }
  }

  &__img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 360px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: normal;
    margin: 4px 0 0 0;
    max-width: 300px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  &__subtext--featured {
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
  }

  &__tag-icons {
    margin-top: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: #353535;
    font-size: 14px;
  }

  &__tag-icon {
    margin-right: 6px;
    font-size: 1.25em;
    color: #fff;
  }
}
