@import '../elements/base';

$element-width: 306px;
$image-height: 195px;
$image-resize: 10%;

.sawhorse, .list-element {
  float: left;
  width: $element-width;
  min-height: 268px;
  margin-right: 10px;
}

.list-element {
  height: auto;
  position: relative;
  h3 { 
    @extend %swash;
    text-align: center;
    line-height: 110%; 
    margin: 8px 0 5px 0;
    font-size: 21px;
  }
  .list-image-wrapper {
    width: $element-width;
    height: $image-height;
    overflow: hidden;
    display: block;
    border: 6px solid white;
    background: black;
  }
  img { 
    display: block; 
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: -9%;
    left: 0;
    height: auto;
  }
  .subtext {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    margin: 0 0 8px 0;
    padding-top: 3px;
    position: relative;
    a { 
      color: #666; 
      &:after { content: ", "; }
      &:last-child:after { content: ""; } 
    }
    &:after {
      @extend %horizontal_stripes;
      content: "";
      width: 80%;
      height: 1px;
      top: 0;
      left: 10%;
      display: block;
      position: absolute;
    } 
  }
  .list-element-number {
    float: left;
    position: absolute;
    left: 0;
    top: 68px;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: none;
  }
  a { color: #444; }
}

.list_element_small {
  img { 
    max-width: 100px;
    min-height: 60px;
    background: black;
    margin-right: 10px; 
  }
  .admin_element_name { 
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #bbb; 
  }
}

@mixin expanded-list-element {
  height: 266px;
  .list-image-wrapper {
    height: 462px;
    width: 100%;
  }
  img {
    height: 100%;
    width: auto;
    top: 0;
    left: -171px;
  }
  .display-number { @extend .large; }
  .list-element-number {
    display: block; 
    top: 208px; 
  }
}

.sawhorse { display: none; }

@media (min-width: 1275px) {
  .content.list, .content.component { width: 1254px; }
  .list-element:not(:nth-last-of-type(-n+4)):not(.never-make-me-tall) {
    &:nth-of-type(1), &:nth-of-type(6), &:nth-of-type(12), &:nth-of-type(17),
    &:nth-of-type(21), &:nth-of-type(26), &:nth-of-type(32), &:nth-of-type(37), 
    &:nth-of-type(41), &:nth-of-type(46) {
      @include expanded-list-element;
      & + span + li + span + li + span + li + span { display: block; }
    }
  }
}

@media (max-width: 1275px) and (min-width: 950px) {
  .list-element:not(:nth-last-of-type(-n+3)):not(.never-make-me-tall) {
    &:nth-of-type(1), &:nth-of-type(8), &:nth-of-type(12), &:nth-of-type(16),
    &:nth-of-type(22), &:nth-of-type(28), &:nth-of-type(31), &:nth-of-type(38), 
    &:nth-of-type(42), &:nth-of-type(46) {
      @include expanded-list-element;
      & + span + li + span + li + span { display: block; }
    }
  }
}

@media (max-width: 950px) and (min-width: 650px) {
  .content.list, .content.component, .recommends { width: 628px; }
  .list-element:not(:nth-last-of-type(-n+2)):not(.never-make-me-tall) {
    &:nth-of-type(4n+1) {
      @include expanded-list-element;
      & + span + li + span { display: block; }
    }
  }
}

@media (max-width: 650px) {
  .content.list, .content.component, .recommends { 
    width: 90%;
    max-width: 500px 
  }
  .list-element, .list-element .list-image-wrapper { 
    width: 100%;
    height: auto; 
  }
}