@import "../elements/label";
@import "../utilities/breakpoints.scss";

$components-border-color: #e1e1e1;
$components-text-color: #666;
$components-bg-color: white;

%recipe {
  font-family: "mr-eaves";
  font-size: 18px;

  ul,
  ol,
  p {
    padding: 0;
    margin: 0;
  }

  ol {
    counter-reset: li;
    padding-bottom: 0;

    li {
      display: flex;
      line-height: 1;

      &:before {
        content: counter(li);
        counter-increment: li;
        font-size: 24px;
        font-family: "bookmania";
        font-weight: 700;
        padding: 0 10px 0 0;
        transform: translateY(2px);
        line-height: 1;
      }

      @media (max-width: $mobile) {
        &:before {
          font-size: 18px;
          margin-top: -1px;
        }
      }
    }
  }

  p {
    font-size: 14px;
    line-height: 140%;
  }

  h1,
  h2,
  h3 {
    @extend .label;
    margin-bottom: 16px;

    &:first-child {
      margin-top: 0;
    }

    @media (min-width: $mobile) {
      font-family: "bookmania";
      font-size: 20px;
      margin: 0;
      font-weight: 900;
      padding: 0;
      text-transform: none;
      letter-spacing: inherit;

      &:not(.thisisfakeforscoping):after,
      &:not(.thisisfakeforscoping):after {
        content: none;
      }
    }
  }

  ul,
  ol {
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  ul li:last-child,
  ol li:last-child {
    border-bottom-width: 0;
  }

  li {
    margin: 8px 0 14px 0;
    display: flex;
    position: relative;
  }

  .amount {
    display: inline-flex;
    min-width: 40px;
    margin-left: -20px;
    font-weight: 600;
    max-height: 1.25em;
    margin-right: 8px;
    position: relative;
    justify-content: flex-end;
    align-items: baseline;
    font-variant-numeric: tabular-nums;

    @media (max-width: $large) {
      margin-left: -10px;
    }
  }

  .divider {
    height: 13px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    top: 6px;
    position: relative;
  }

  .unit {
    font-weight: normal;
    font-size: 11px;
    margin-left: 1px;
  }

  .ingredient {
    flex: 1;
    padding-left: 10px;
    display: block;
    text-align: left;
  }
}
