@import "../elements/sprite";
@import "../elements/helpers";

$search-width: 300px;
$compact-search-width: 300px - 20px;
$search-elements: '.search-wrapper, .twitter-typeahead, .twitter-typeahead .tt-input, .twitter-typeahead .tt-hint, input.search';

.search-wrapper {
  position: relative;
  top: 5px;
}

.twitter-typeahead {
  color: #ccc;
  font-size: 20px;
  position: relative;
  z-index: 5;
  color: white;
  float: right;
  .tt-dropdown-menu { 
    background-color: rgba(50,50,50,0.8);
    border: 1px solid #333; 
    width: 100%;
  }
  .tt-suggestion {
    border-bottom: 1px solid #333;
    padding: 10px 20px;
    margin: 0;
    display: block;
    line-height: 0;
    float: left;
    width: 100%;
    cursor: pointer;
    &.tt-cursor { background-color: rgba(70,70,70,0.8); color: white; }
  }
  &:before { 
    @extend .sprite-search;
    content: "";
    float: left;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    z-index: 6;
    top: 3px;
    right: 5px;
    position: absolute; 
  }
  .tt-input:focus {
    outline: 0;
    border: 1px solid #999;
    &:before { opacity: 1; }
  }
  .tt-hint { 
    background-color: transparent !important;
    right: 0 !important;
    left: auto !important; 
  }
}

.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint, input.search { 
  margin-bottom: 0;
  background-color: rgba(30,30,30,0.8) !important; 
  color: #ccc;
  height: 27px;
  font-size: 16px;
  float: right;
  position: relative;
  opacity: 0.7;
}

#{$search-elements} { 
  width: $search-width;
  @include transition(0.2s top);
}
@media (max-width: 650px) {
  #{$search-elements} { width: $compact-search-width; }
  .header-primary, .header-image, .links { @include transition(0.2s opacity); }
  body.focused {
    .search-wrapper { top: -57px }
    .header-primary, .header-content > img, .links { opacity: 0.2; }
  }
  .twitter-typeahead .tt-suggestion {
    padding: 0px 20px;
    &, a { font-size: 18px; }
  }
}