$search-width: 300px;
$compact-search-width: 300px - 20px;

.search-wrapper {
  position: relative;
  z-index: 99;
}

.autocomplete-container {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 100%;
  border-radius: 0 0 4px 4px;
  width: 300px;
}

.autocomplete-line {
  display: block;
  cursor: pointer;
  padding: 10px 15px;
  color: #ccc;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #333;
  }

  &:hover, &:active, &.active {
    background: rgba(50, 50, 50, 0.8);
    color: #fff;
  }
}

.search-icon {
  @include hires-background(20px, 20px, 0, -408px);
  position: absolute;
  top: 27px;
  right: 0;

  &:before {
    opacity: 0.3;
    z-index: 6;
    top: 4px;
    right: -16px;
    left: auto;
  }
}

input.search {
  margin-bottom: 0;
  background-color: rgba(70,70,70,0.7) !important;
  color: #fff;
  height: 30px;
  font-size: 16px;
  position: relative;
  opacity: 0.7;
  width: 300px;

  &:focus {
    z-index: 99999;
    outline: 0;
    border: 1px solid #999;
    &:before { opacity: 1; }
  }
}

.search-wrapper, input.search {
  width: $search-width;
}

@media (max-width: 650px) {
  .search-wrapper, input.search { width: $compact-search-width; }
  
  body.focused {
    .search-wrapper { -webkit-transform: translate3d(0, -57px, 0); }
    .header-primary, .header-content > img, .links { opacity: 0.2; }
  }
}
